server:
  port: ${SERVER_PORT:8085}

spring:
  application:
    name: barcode-persistence-worker
  
  datasource:
    url: ${DB_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      register-mbeans: true # Hikari 커넥션 풀 메트릭 활성화
  
  sql:
    init:
      mode: always
      encoding: UTF-8

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true
  
  data:
    redis:
      # Redis 접속 주소 설정: localhost(127.0.0.1) or redis (Docker Service Name)
      host: 127.0.0.1
      port: 6379

# Redis Streams 설정
redis:
  stream:
    key: barcode:stream
    consumer-group: barcode-persistence-group
    # consumer-name: worker-${random.uuid}

# Worker 설정
worker:
  batch-size: 100
  poll-interval: 1000
  block-time: 5000
  consumer-name: ${WORKER_NAME:worker-1}

# Prometheus Actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

logging:
  level:
    com.barcode.barcode_persistence_worker: DEBUG
    org.hibernate.SQL: DEBUG